<h1>Sign in</h1>

<div id="container">
    <form action="/auth/login" method="post">
    <label>
        Username:
        <input type="text" name="username" required>
    </label>
    <label>
        Password:
    <input type="password" name="password"  min="6" required>
    </label>
    <button type="submit">Login</button>
    </form>
</div>