<h1>Log in</h1>

<div id="container">
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
    <form action="/auth/login" method="post">
    <label>
        Username:
        <input type="text" name="username" required>
    </label>
    <label>
        Password:
    <input type="password" name="password"  min="6" required>
    </label>
    <button type="submit">Login</button>
    </form>
</div>
<p>
    Don't have an account yet? <a href="/auth/signup">Sign up here</a>
</p>
