<h2>Log in</h2>

<div id="container">
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
    <form action="/auth/login" method="post" class="auth-form">
    <label>
        Username:
        <input type="text" name="username" required>
    </label>
    <label>
        Password:
    <input type="password" name="password"  min="6" required>
    </label>
    <button type="submit">Login</button>
    <p>
        Don't have an account yet? <a href="/auth/signup"><b>Sign up here</b></a>!
    </p>
    </form>
</div>
