<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <nav class="nav-bar">
         <a href="/" class="nav-link">Home</a>
         <a href="/game/matchlist" class="nav-link">Play</a>
         <a href="/auth/signup" class="nav-link" id="register">Register</a>
      </nav>
      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>