<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Game</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link href="http://fonts.cdnfonts.com/css/allissona-gt-demo" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   </head>

   <body>
      <nav class="nav-bar">
         <a href="/" class="nav-link">Home</a>
         <a href="/game/matchlist" class="nav-link">Play</a>
         {{#if currentUser}}

         <a href="/user/profile" class="nav-link">{{currentUser.username}}'s profile</a>

         <a href="/auth/logout" class="nav-link">Log out</a>
         {{else}}
         <a href="/auth/login" class="nav-link">Login</a>
         {{/if}}
      </nav>
      {{{body}}}
      <script src="/js/layout.js"></script>
   </body>

</html> 