<h1>{{currentUser.username}}'s page</h1>

<div id="container">
    <a href="/user/settings" style="color:black">Click here to edit your account details</a>

    <h3>Your drawings:</h3>
    <div id="drawing-album">
        {{#each userDrawings}}
            <figure class="drawing-card">
                <img class="drawing" src="{{url}}" alt="user drawing of {{word}}">
                <figcaption>{{word}}</figcaption>
            </figure>
        {{/each}}
    </div>

</div>
