
<h3>Players: </h3>
<ul id="player-list"></ul>
<canvas id="game-canvas"></canvas>

<a href="/game/{{gameId}}/leave">Leave the game</a>
{{!-- <button id="drawing-button">Drawing</button>
<button id="not-drawing-button">Not drawing</button> --}}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/game-ui.js"></script>