<h2>Games</h2>

<div id="container">

    <a href="/game/create" id="create-game" class="button">Create new game</a>

    <ul id="game-list">
        <b>Loading games...</b>
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/matchlist.js"></script>
</div>
