<h1>Game list</h1>

<div id="container">

    <a href="/game/create" class="button">Create new game</a>

    <ul id="game-list">
        <p>Loading...</p>
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/matchlist.js"></script>
</div>
